body{
    background-image: url(assest/sea.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.form{
    background-color: wheat;
    border: 2px solid brown;
    padding: 50px 50px 50px 50px;
    margin: 50px 50px 50px 50px;
}
.name{
    padding: 20px 20px 20px 20px;
    margin: 30px 30px 30px 30px;
}
.number{
    padding: 20px 20px 20px 20px;
    margin: 30px 30px 30px 30px;
}
.email{
    padding: 20px 20px 20px 20px;
    margin: 30px 30px 30px 30px;
}
.profession{
    padding: 20px 20px 20px 20px;
    margin: 30px 30px 30px 30px;
}
.age{
    padding: 20px 20px 20px 20px;
    margin: 30px 30px 30px 30px;
}
.textarea{
    padding: 20px 20px 20px 20px;
    margin: 30px 30px 30px 30px;
}
.submit{
    padding: 20px 20px 20px 20px;
    margin: 30px 30px 30px 30px;
}
.par{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 600;
    color: blue;
}
