.box1{
    background-color: aqua;
    width: 200px;
    height: 200px;
    /* position: relative; */
    /* top: 10px; */
}
.box2{
    background-color: blue;
    /* background-color: aqua; */
    width: 200px;
    height: 200px;
    /* position: absolute; */
    /* top: 10px; */
}
.box3{
    position: fixed;
    right: 200px;
    bottom: 20px;
}